:root {
    --dark: #101215;
    --dark2: #1a1a1d;
    --light: #eee;
    --bright: #fff;
    --hl: #eeeeee99;
    --hl2: #eeeeee66;
    --hl3: #eeeeee03;
    --accent: #78aad8;
    --red: #bf616a;
    --red-hl: #bf616a07;
    --red-hl2: #bf616a10;
    --yellow: #ebcb8b;
    --yellow-hl: #ebcb8b07;
    --yellow-hl2: #ebcb8b10;
    --main-font-f: 'JetBrains Mono', 'JetBrains Mono NF';
    --main-font-s: 22px;
    --radius: 4px;
    --transition: 200ms;
}

::selection {
    background-color: #eeeeee22; /* i am so done with css vars */
}

* {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

/* nerd */
@font-face {
    font-family: 'JetBrains Mono NF';
    src: url('/assets/JetBrainsMonoNerdFont.ttf') format('truetype');
}

body {
    background-color: var(--dark);
    margin: 0;
    font-family: var(--main-font-f);
    color: var(--light);
}

.bg {
    background: url('/assets/wallpaper.png') no-repeat center top;
    min-width: 100vw;
    min-height: 100vh;
    mix-blend-mode: multiply;
    position: fixed;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    font-size: var(--main-font-s);
    padding: 5px 10px;
    background-color: transparent;
    border: var(--light) 2px solid;
    border-radius: var(--radius);
    cursor: pointer;
    user-select: none;
    display: block;
    transition: var(--transition);
}
.button:hover {
    color: var(--accent);
    border-color: var(--accent);
    transform: translate(-4px, -4px);
    box-shadow: 1px 1px 0 var(--accent), 2px 2px 0 var(--accent), 3px 3px 0 var(--accent), 4px 4px 0 var(--accent);
}
.button-click {
    box-shadow: none !important;
    transform: none !important;
}

.window {
    position: absolute;
    box-shadow: 1px 1px 0 var(--dark2), 2px 2px 0 var(--dark2), 3px 3px 0 var(--dark2), 4px 4px 0 var(--dark2), 0 0 10px black;
    font-size: 16px;
    border-radius: calc(var(--radius) + 2px); /* idk why but weird gap without +2px */
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    min-height: calc(42px + 1em); /* i fucking love hardcoding */
    background-color: var(--dark);
    border: 3px var(--dark2) solid;
    transition: opacity var(--transition);
}
.window .content {
    /* border-radius: var(--radius); */
    overflow: auto;
}
.window .header {
    background-color: var(--accent);
    color: #101215aa;
    transition: color var(--transition);
    user-select: none;
    cursor: move;
    padding: 5px 10px;
    padding-right: calc(32px + 1em);
    border-radius: var(--radius) var(--radius) 0 0;
    border-bottom: 3px var(--dark2) solid;
    box-shadow: 0 1px 3px var(--dark);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window .resize {
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: -3px; /* exclude the border */
    right: -3px;
    cursor: nwse-resize;
}
.window .header .close {
    display: block;
    position: absolute;
    right: 0;
    height: calc(1em + 5px);
    padding: 5px 10px;
    border-radius: 0 var(--radius) 0 0;
    display: flex;
    align-items: center;
    transition: var(--transition);
    border: 3px transparent solid;
}
.window .header .close:hover {
    transition: border none;
    color: var(--dark2) !important;
    border: 3px var(--dark2) solid;
    border-radius: var(--radius);
    border-bottom-right-radius: 0;
    background-color: var(--red);
    cursor: pointer;
    transform: translate(-3px, -4px);
    box-shadow: 1px 1px 0 var(--dark2), 2px 2px 0 var(--dark2), 3px 3px 0 var(--dark2), 4px 4px 0 var(--dark2), -1px -1px 1px #00000030, -2px -2px 4px #00000030, -3px -3px 4px #00000030,
        -4px -4px 4px #00000030;
    z-index: -2;
}
.window-active .header {
    color: var(--dark2);
}
iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.terminal {
    white-space: pre;
}
.terminal .prompt-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--bright);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 0;
}
.prompt {
    margin: 10px;
    cursor: text;
}
.prompt .prompt-input {
    cursor: text;
}
.prompt::before {
    cursor: default;
    content: '➜ ' attr(dir);
    display: block;
    color: var(--hl2);
}
.prompt-result {
    border-bottom: 3px var(--dark2) solid;
    padding: 10px;
}
.prompt-result:hover {
    background-color: var(--hl3);
}
.prompt-result .prompt {
    margin: 0;
    margin-bottom: 1em;
}
.error {
    border-left: 1px var(--red) solid;
    background-color: var(--red-hl);
}
.error:hover {
    background-color: var(--red-hl2);
}
.warn {
    border-left: 1px var(--yellow) solid;
    background-color: var(--yellow-hl);
}
.warn:hover {
    background-color: var(--yellow-hl2);
}
